form
{
 border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
}
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
 padding: 16px;
  height: 300px; 
   border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px red;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width:60%;
}
body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
}  
abody {  
background-color: orange;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  
}  
abody * {  
display: inline;  
}  
abody li {  
margin: 20px;  
}  
abody li a {  
color: blue;  
text-decoration: none;  
}    	